<h1 class="text-center text-primary mt-3 mb-5">Welcome to FrontEnd Advanced Courses</h1>
<div class="container">
  <div class="row">
    <div class="col-md-3">
        <h2><a (click)='dothis($event)' class="effect" > JavaScript </a></h2>
    </div>
    <div class="col-md-3">
        <h2><a (click)='dothis($event)' class="effect" > HTML </a></h2>
    </div>
    <div class="col-md-3">
        <h2><a (click)='dothis($event)' class="effect" > CSS </a></h2>
    </div>
    <div class="col-md-3">
        <h2><a (click)='dothis($event)' class="effect" > ANGULAR </a></h2>
    </div>
  </div>
    <router-outlet></router-outlet>
</div>

