
<div class="jumbotron jumbotron-fluid bg-info text-light text-center">
  <h2 class="display-3">Hello there, Welcome to my page !!!</h2>
  <p class="lead">a multidisciplinary designer specializing in UX and Visual Design.</p>
  <hr class="my-4 bg-gray">
  <p>
    <p class="">
      <button class="btn btn-light btn-lg">VIEW MY WORK</button>
    </p>
</div>

<div class="p-4">

    <h1>Home is on process...</h1>
    <p>We use some complex calculations to make here and needed to do something </p>
    <button class="btn btn-primary btn-lg" (click)="server()">Load blog</button>
    <a 
    [routerLink] = "['/work']"
    [queryParams] = "{ allowEdit: 1 }"
    [fragment] = "'somemore'"
    >Some Link</a>

</div>




